# --- NetBeans (Globales para cualquier subcarpeta) ---
nbproject/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/
build.xml
manifest.mf
.lck

# --- Entornos y OS ---
.DS_Store
Thumbs.db
.idea/
*.iml
.classpath
.project
.settings/